<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qlshopquanaonhom6.shoponline"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shoppe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shoppe"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopOnline"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Forgot_pass_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterUser"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivityLogin"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".activity.ThongtinkhachhangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GiohangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChitietsanphamActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThongtinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LienHectivity"
            android:exported="false" />
        <activity
            android:name=".activity.VayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ThemUserActivity"
            android:exported="true" />
    </application>

</manifest>